/*  your css code here. If applicable */
body {
    background: #b06ce3;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#buttons {
    display: flex;
    gap: 40px;
}

.btn,
.stop {
    padding: 20px 40px;
    background: #602d8e;
    border: none;
    color: white;
    font-size: 18px;
    border-radius: 8px;
    cursor: pointer;
    text-transform: lowercase;
    transition: 0.2s ease;
}

.btn:hover,
.stop:hover {
    opacity: 0.8;
}
